.header__logout-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 26px 0;
}

@media screen and (max-width: 729px) {
    .header__logout-container {
        display: none;
    }
}