.header__navbar-button {
    display: none;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

@media screen and (max-width: 729px) {
    .header__navbar-button {
        display: flex;
        margin-top: 5px;
        width: 20px;
        height: 20px;
    }
}