.popup__error {
    height: 30px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
  }