.header__email {
    display: flex;
    align-items: center;
    margin: 0 24px 0 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #fff;
    transition: opacity 0.3s ease;
}

@media screen and (max-width: 729px) {
    .header__email {
        display: none;
    }
}