.authorization__title {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 46px;
    text-align: center;
    margin: 0;
    color: #fff;
}

@media screen and (max-width: 729px) {
    .authorization__title {
        font-size: 20px;
        line-height: normal;
    }
  }