.profile__image {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    object-fit: cover;
    grid-area: image;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.profile__image:hover {
    cursor: pointer;
    opacity: 0.2;
}

@media screen and (max-width: 729px) {
    .profile__image {
        margin: 0 auto;
    }
}