.authorization__input {
    margin: 0;
    padding: 0 0 8px 0;
    border: none;
    border-bottom: 1px solid #CCC;
    outline: none;
    background: none;
    box-shadow: none;
    color: #CCC;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}