.popup__input {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 0 8px 0;
    max-width: 357px;
    width: 100%;
    outline: none;
    box-sizing: border-box;
}